<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="../../CSS/style.css" rel="stylesheet"/>
    
</head>
<body>

  <div id="navbar-container"></div>

    <br><br><br>
  
    <h1>Bienvenido</h1>
    <br><br><br><br><br>

    <div id="welcome-container">Esta aplicacion es un gestor de eventos de bicicletas, el cual tambien gestiona las carreras que se realizaran y los participante que correran en cada de las carreras del evento.</div>


    <script>
        $(document).ready(function() {
          $("#navbar-container").load("../navbar.html");
        });
      </script>
</body>
</html>