<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../CSS/style.css" rel="stylesheet"/>
</head>
<body>

<div id="navbar-container"></div>

<h1>Bienvenido</h1>

<br><br><br><br><br><br>

<div id="welcome-container">Esta aplicación es un gestor de eventos de bicicletas, el cual también gestiona las carreras que se realizarán y los participantes que correrán en cada una de las carreras del evento.</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#navbar-container").load("../navbar.html");
    });
</script>
</body>
</html>
