<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal de Evento</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../CSS/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" type="image/png" href="../../CSS/CaBici.png" sizes="32x32">
    <noscript>
        <meta http-equiv="refresh" content="0;url=../../../redireccion.html">
    </noscript>
</head>
<body>

<div id="navbar-container"></div>

<br>

<div id="evento-container">

   <div><h1>Eventos</h1></div>

    <div id="datos-container"></div>
</div>

<script type="module">
  import { Evento } from "../../../JS/Controller/Evento.js";
  import { tablaEvento } from "../../../JS/Tablas/TablaEvento.js";
  import { Token } from "../../../JS/Controller/Token.js";
  const token = new Token();

  let userDataToken = sessionStorage.getItem('userData');

if(userDataToken == undefined){
    alert("Debes iniciar sesión");  
    window.location.href = "/ProyectoBicicletas/index.html";
}

window.addEventListener('load', comprobar_Token);

function comprobar_Token() {
    const userData = sessionStorage.getItem('userData');
    
    const data = JSON.parse(userData);
    const userToken = data.userToken.replace(/^"(.*)"$/, '$1');
    const userId = data.userID;

    if(userToken == "" || userToken == null){
        alert("No tienes token");  
    window.location.href = "/ProyectoBicicletas/index.html";
    }

    if (userData) {
        let rutaVolver = "/ProyectoBicicletas/index.html";
        token.comprobar_Token(userId, userToken, null, rutaVolver);
    }
}

  $(document).ready(function() {
      const evento = new Evento();
      evento.get_All_Evento()
          .then(eventos => {
              tablaEvento(eventos);
          })
          .catch(error => {
              console.error('Error:', error.message);
          });

      window.delete_Evento = function(id) {
          evento.delete_Evento(id);
      };
  });

  $(document).ready(function() {
      $("#navbar-container").load("../../Views/navbar.html");
  });
</script>
</body>
</html>
