<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal de Carreras</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../CSS/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" type="image/png" href="../../CSS/CaBici.png" sizes="32x32">
    <noscript>
        <meta http-equiv="refresh" content="0;url=../../../redireccion.html">
    </noscript>
</head>
<body>

<div id="navbar-container"></div>

<br>

<div id="carrera-container">
    <h1>Carreras</h1>
    <div id="eventos-container">
        <select style="color: black;" id="eventos-select" title="Seleccione un evento">
            <option value="0">Seleccione un evento</option>
        </select>
    </div>
    <div id="datos-containerCarrera"></div>
</div>



<script type="module">
  import { Carrera } from "../../../JS/Controller/Carrera.js";
  import { Evento } from "../../../JS/Controller/Evento.js";
  import { Token } from "../../../JS/Controller/Token.js";
  import { tablaCarrera } from "../../../JS/Tablas/TablaCarrera.js";
  const token = new Token();

  $(document).ready(function() {
  const evento = new Evento();
  const carrera = new Carrera();
  evento.get_All_Evento()
    .then(eventos => {
      const select = document.getElementById('eventos-select');
      $.each(eventos, function(index, evento) {
        const option = document.createElement('option');
        option.value = evento.Id;
        option.text = evento.Nombre;
        select.appendChild(option);
      });
      select.addEventListener('change', function() {
  const selectedEventId = select.value;
  if(selectedEventId == 0){
    carrera.get_All_Carrera()
    .then(carreras => {
        tablaCarrera(carreras);
    })
    .catch(error => {
            console.error('Error:', error.message);
          });
  }else{
  carrera.get_All_Carrera_By_Evento(selectedEventId)
    .then(numeroCarreras => {
      const container = document.querySelector('#eventos-container');
      const filteredResults = document.createElement('div');
      tablaCarrera(numeroCarreras);
          })
          .catch(error => {
            console.error('Error:', error.message);
          });
        }
      });
    })
    .catch(error => {
      console.error('Error:', error.message);
    });
});


  let userDataToken = sessionStorage.getItem('userData');

        if(userDataToken == undefined){
            alert("Debes iniciar sesión");  
            window.location.href = "/ProyectoBicicletas/index.html";
        }

window.addEventListener('load', comprobar_Token);

function comprobar_Token() {
    const userData = sessionStorage.getItem('userData');
    
    const data = JSON.parse(userData);
    const userToken = data.userToken.replace(/^"(.*)"$/, '$1');
    const userId = data.userID;

    if(userToken == "" || userToken == null){
        alert("No tienes token");  
    window.location.href = "/ProyectoBicicletas/index.html";
    }

    if (userData) {
        let rutaVolver = "/ProyectoBicicletas/index.html";
        token.comprobar_Token(userId, userToken, null, rutaVolver);
    }
}

  $(document).ready(function() {
      const carrera = new Carrera();
      carrera.get_All_Carrera();

      window.delete_Carrera = function(id) {
          carrera.delete_Carrera(id);
      };
  });

  $(document).ready(function() {
      $("#navbar-container").load("../../Views/navbar.html");
  });
</script>
</body>
</html>
