<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal de Carreras</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../CSS/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" type="image/png" href="../../CSS/CaBici.png" sizes="32x32">
</head>
<body>

<div id="navbar-container"></div>

<br>

<div id="carrera-container">
    <h1>Carreras</h1>
    <div id="datos-containerCarrera"></div>
</div>



<script type="module">
  import { Carrera } from "../../../JS/Model/Carrera.js";
  import { Token } from "../../../JS/Model/Token.js";
  const token = new Token();

  
  let userDataToken = sessionStorage.getItem('userData');

        if(userDataToken == undefined){
            alert("Debes iniciar sesión");  
            window.location.href = "/ProyectoBicicletas/index.html";
        }

window.addEventListener('load', comprobar_Token);

function comprobar_Token() {
    const userData = sessionStorage.getItem('userData');

    if (userData) {
        const data = JSON.parse(userData);
        const userId = data.userID;
        const userToken = data.userToken.replace(/^"(.*)"$/, '$1');
        let rutaVolver = "/ProyectoBicicletas/index.html";
        token.comprobar_Token(userId, userToken, null, rutaVolver);
    }
}

  $(document).ready(function() {
      const carrera = new Carrera();
      carrera.get_All_Carrera();

      window.delete_Carrera = function(id) {
          carrera.delete_Carrera(id);
      };
  });

  $(document).ready(function() {
      $("#navbar-container").load("../../Views/navbar.html");
  });
</script>
</body>
</html>
